<!DOCTYPE html>
<head>
    <title>Diamond price Predictor</title>
</head>
<body style="background-color: #000000;">
<div style="background-color: #000000; padding: 30px; padding-top: 70px;">
    <div align="center", style="height: auto; width: 100%; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
        <div>
            <img src="{{ url_for('static', filename='header_diamonds.jpg') }}", height="auto", width="99%", align="center">
        </div>
        <div style="width: 95%; border: 1px solid #434240; opacity: 0.9; background-color: #fff; padding-bottom: 20px;">
            <h1>Gemstones Price Predictor</h1>
            <h3>Predict the price of you favourite diamond based on its metrics</h3>
            <a href="{{url_for ('predict_datapoint')}}"><button>Enter</button></a>
        </div>
    </div>
</div>
</body>